In [2]:
import pandas as pd
import numpy as np
import pyreadstat

nls97spss, metaspss = pyreadstat.read_sav('data/nls97.sav')
nls97spss.dtypes

R0000100    float64
R0536300    float64
R0536401    float64
R0536402    float64
R1235800    float64
R1482600    float64
R9793800    float64
R9793900    float64
R9871900    float64
R9872000    float64
R9872200    float64
R9872400    float64
S8646900    float64
S8647000    float64
S8647100    float64
S8647200    float64
S8647300    float64
S8647400    float64
S8647500    float64
S8647600    float64
S8647700    float64
S8647800    float64
T6651700    float64
U1836800    float64
U1836900    float64
U1837000    float64
U1837100    float64
U1837200    float64
U1837300    float64
U1845400    float64
U1852400    float64
U1852600    float64
U1852700    float64
U2166200    float64
U2166300    float64
U2166400    float64
U2166500    float64
U2857300    float64
U2962800    float64
U2962900    float64
U2963000    float64
Z9063900    float64
dtype: object

In [32]:
metaspss

In [3]:
nls97spss.shape

(8984, 42)

In [4]:
nls97spss.head()

,R0000100,R0536300,R0536401,R0536402,R1235800,R1482600,R9793800,R9793900,R9871900,R9872000,...,U1852700,U2166200,U2166300,U2166400,U2166500,U2857300,U2962800,U2962900,U2963000,Z9063900
0,1.0,2.0,9.0,1981.0,1.0,4.0,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,1.0,7.0,1982.0,1.0,2.0,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,6.0,0.0
2,3.0,2.0,9.0,1983.0,1.0,2.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,6.0,2.0,6.0,0.0
3,4.0,2.0,2.0,1981.0,1.0,2.0,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,6.0,4.0
4,5.0,1.0,10.0,1982.0,1.0,2.0,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,5.0,12.0

In [5]:
nls97spss['R0536300'].value_counts(normalize=True)

R0536300
1.0    0.51191
2.0    0.48809
Name: proportion, dtype: float64

In [6]:
metaspss.variable_value_labels['R0536300']

{0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'}

In [7]:
nls97spss['R0536300'].map(metaspss.variable_value_labels['R0536300']).value_counts(normalize=True)

R0536300
Male      0.51191
Female    0.48809
Name: proportion, dtype: float64

In [8]:
nls97spss = pyreadstat.set_value_labels(nls97spss, metaspss, formats_as_category=True)

In [9]:
nls97spss.columns = metaspss.column_labels
nls97spss['KEY!SEX (SYMBOL) 1997'].value_counts(normalize=True)

KEY!SEX (SYMBOL) 1997
Male      0.51191
Female    0.48809
Name: proportion, dtype: float64

In [10]:
nls97spss.dtypes

PUBID - YTH ID CODE 1997                        float64
KEY!SEX (SYMBOL) 1997                          category
KEY!BDATE M/Y (SYMBOL) 1997                     float64
KEY!BDATE M/Y (SYMBOL) 1997                     float64
CV_SAMPLE_TYPE 1997                            category
KEY!RACE_ETHNICITY (SYMBOL) 1997               category
TRANS_SAT_VERBAL HSTR                           float64
TRANS_SAT_MATH HSTR                             float64
TRANS CRD GPA OVERALL HSTR                      float64
TRANS CRD GPA ENG HSTR                          float64
TRANS CRD GPA MATH HSTR                         float64
TRANS CRD GPA LP SCI HSTR                       float64
GOVT RESPONSIBILITY - PROVIDE JOBS 2006        category
GOVT RESPNSBLTY - KEEP PRICES UND CTRL 2006    category
GOVT RESPNSBLTY - HLTH CARE FOR SICK 2006      category
GOVT RESPNSBLTY -PROV ELD LIV STAND 2006       category
GOVT RESPNSBLTY -PROV IND HELP 2006            category
GOVT RESPNSBLTY -PROV UNEMP LIV STAND 2006     category
GOVT RESPNSBLTY -REDUCE INC DIFF 2006          category
GOVT RESPNSBLTY -PROV COLL FIN AID 2006        category
GOVT RESPNSBLTY -PROV DECENT HOUSING 2006      category
GOVT RESPNSBLTY -PROTECT ENVIRONMENT 2006      category
CV_BA_CREDITS L1 2011                           float64
CV_COLLEGE_TYPE L1 2017                        category
CV_COLLEGE_TYPE L2 2017                        category
CV_COLLEGE_TYPE L3 2017                        category
CV_COLLEGE_TYPE L4 2017                        category
CV_COLLEGE_TYPE L5 2017                        category
CV_COLLEGE_TYPE L6 2017                        category
CV_HGC_EVER 2017                               category
CV_MARSTAT_COLLAPSED 2017                      category
CV_BIO_CHILD_HH 2017                            float64
CV_BIO_CHILD_NR 2017                            float64
DIPLOMA/DEGREE RCVD? L1 2017                   category
DIPLOMA/DEGREE RCVD? L2 2017                   category
DIPLOMA/DEGREE RCVD? L3 2017                   category
DIPLOMA/DEGREE RCVD? L4 2017                   category
EST INC WAGES, TIPS PAST YR 2017               category
HRS/WK R USES A COMPUTER 2017                  category
HRS/WK R WATCHES TELEVISION 2017               category
HRS/NIGHT R SLEEPS 2017                         float64
CVC_WKSWK_YR_ALL L99                            float64
dtype: object

In [11]:
nls97spss.columns = nls97spss.columns.str.lower().str.replace(' ', '_').str.replace('[^a-z0-9_]', '', regex=True)

In [12]:
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)

In [13]:
nls97spss.head()

,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,trans_crd_gpa_math_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
pubid__yth_id_code_1997,,,,,,,,,,,,,,,,,,,,,
1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,195.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,293.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [14]:
nls97spss.govt_responsibility__provide_jobs_2006.value_counts(sort=False)

govt_responsibility__provide_jobs_2006
Definitely should be        454
Definitely should not be    300
Probably should be          617
Probably should not be      462
Name: count, dtype: int64

In [15]:
nls97stata, metastata = pyreadstat.read_dta('data/nls97.dta', apply_value_formats=True, formats_as_category=True)
nls97stata.columns = metastata.column_labels

In [16]:
nls97stata.columns = nls97stata.columns.str.lower().str.replace(' ', '_').str.replace('[^a-z0-9_]', '', regex=True)

In [17]:
nls97stata.dtypes

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [18]:
nls97stata.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,-4.0,-4.0,-4.0,-4.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-1.0,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,-4.0,-4.0,253.0,216.0,...,1.0,-4.0,-4.0,-4.0,-4.0,-4.0,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,-4.0,-4.0,243.0,235.0,...,0.0,-4.0,-4.0,-4.0,-4.0,-4.0,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [19]:
nls97stata.govt_responsibility__provide_jobs_2006.value_counts(sort=False)

govt_responsibility__provide_jobs_2006
-5.0                         1425
-4.0                         5665
-2.0                           56
-1.0                            5
 Definitely should be         454
 Definitely should not be     300
 Probably should be           617
 Probably should not be       462
Name: count, dtype: int64

In [20]:
nls97stata.min(numeric_only=True)

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           -4.0
trans_sat_math_hstr             -4.0
trans_crd_gpa_overall_hstr      -9.0
trans_crd_gpa_eng_hstr          -9.0
trans_crd_gpa_math_hstr         -9.0
trans_crd_gpa_lp_sci_hstr       -9.0
cv_ba_credits_l1_2011           -5.0
cv_bio_child_hh_2017            -5.0
cv_bio_child_nr_2017            -5.0
hrsnight_r_sleeps_2017          -5.0
cvc_wkswk_yr_all_l99            -4.0
dtype: float64

In [21]:
nls97stata.replace(list(range(-9,0)), np.nan, inplace=True)

/tmp/ipykernel_58242/2874339248.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  nls97stata.replace(list(range(-9,0)), np.nan, inplace=True)

In [22]:
nls97stata.min(numeric_only=True)

pubid__yth_id_code_1997          1.0
keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           14.0
trans_sat_math_hstr              7.0
trans_crd_gpa_overall_hstr      10.0
trans_crd_gpa_eng_hstr           0.0
trans_crd_gpa_math_hstr          0.0
trans_crd_gpa_lp_sci_hstr        0.0
cv_ba_credits_l1_2011            0.0
cv_bio_child_hh_2017             0.0
cv_bio_child_nr_2017             0.0
hrsnight_r_sleeps_2017           0.0
cvc_wkswk_yr_all_l99             0.0
dtype: float64

In [23]:
nls97stata.set_index('pubid__yth_id_code_1997', inplace=True)

In [24]:
nls97stata.isnull().sum()

keysex_symbol_1997                               0
keybdate_my_symbol_1997                          0
keybdate_my_symbol_1997                          0
cv_sample_type_1997                              0
keyrace_ethnicity_symbol_1997                    0
trans_sat_verbal_hstr                         7578
trans_sat_math_hstr                           7577
trans_crd_gpa_overall_hstr                    2980
trans_crd_gpa_eng_hstr                        3186
trans_crd_gpa_math_hstr                       3218
trans_crd_gpa_lp_sci_hstr                     3300
govt_responsibility__provide_jobs_2006        7151
govt_respnsblty__keep_prices_und_ctrl_2006    7125
govt_respnsblty__hlth_care_for_sick_2006      7110
govt_respnsblty_prov_eld_liv_stand_2006       7112
govt_respnsblty_prov_ind_help_2006            7169
govt_respnsblty_prov_unemp_liv_stand_2006     7173
govt_respnsblty_reduce_inc_diff_2006          7209
govt_respnsblty_prov_coll_fin_aid_2006        7109
govt_respnsblty_prov_decent_housing_2006      7137
govt_respnsblty_protect_environment_2006      7124
cv_ba_credits_l1_2011                         8643
cv_college_type_l1_2017                       8081
cv_college_type_l2_2017                       8890
cv_college_type_l3_2017                       8977
cv_college_type_l4_2017                       8981
cv_college_type_l5_2017                       8983
cv_college_type_l6_2017                       8983
cv_hgc_ever_2017                              2321
cv_marstat_collapsed_2017                     2312
cv_bio_child_hh_2017                          4193
cv_bio_child_nr_2017                          4193
diplomadegree_rcvd_l1_2017                    8844
diplomadegree_rcvd_l2_2017                    8969
diplomadegree_rcvd_l3_2017                    8980
diplomadegree_rcvd_l4_2017                    8983
est_inc_wages_tips_past_yr_2017               8614
hrswk_r_uses_a_computer_2017                  2274
hrswk_r_watches_television_2017               2273
hrsnight_r_sleeps_2017                        2278
cvc_wkswk_yr_all_l99                           301
dtype: int64

In [25]:
nls97sas, metasas = pyreadstat.read_sas7bdat('data/nls97.sas7bdat', catalog_file='data/nlsformats3.sas7bcat', formats_as_category=True)

In [26]:
nls97sas.columns = metasas.column_labels
nls97sas.columns = nls97sas.columns.str.lower().str.replace(' ', '_').str.replace('[^a-z0-9_]', '', regex=True)

In [27]:
nls97sas.head()

,pubid__yth_id_code_1997,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
0,1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
1,2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
2,3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
3,4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
4,5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0

In [28]:
nls97sas.keysex_symbol_1997.value_counts()

keysex_symbol_1997
Male      4599
Female    4385
Name: count, dtype: int64

In [29]:
nls97sas.set_index('pubid__yth_id_code_1997', inplace=True)

In [30]:
nls97sas.head(100)

,keysex_symbol_1997,keybdate_my_symbol_1997,keybdate_my_symbol_1997,cv_sample_type_1997,keyrace_ethnicity_symbol_1997,trans_sat_verbal_hstr,trans_sat_math_hstr,trans_crd_gpa_overall_hstr,trans_crd_gpa_eng_hstr,trans_crd_gpa_math_hstr,...,cv_bio_child_nr_2017,diplomadegree_rcvd_l1_2017,diplomadegree_rcvd_l2_2017,diplomadegree_rcvd_l3_2017,diplomadegree_rcvd_l4_2017,est_inc_wages_tips_past_yr_2017,hrswk_r_uses_a_computer_2017,hrswk_r_watches_television_2017,hrsnight_r_sleeps_2017,cvc_wkswk_yr_all_l99
pubid__yth_id_code_1997,,,,,,,,,,,,,,,,,,,,,
1.0,Female,9.0,1981.0,Cross-sectional,Non-Black / Non-Hispanic,350.0,470.0,309.0,310.0,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
2.0,Male,7.0,1982.0,Cross-sectional,Hispanic,460.0,440.0,217.0,280.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,0.0
3.0,Female,9.0,1983.0,Cross-sectional,Hispanic,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,10 hours or more a week,3 to 10 hours a week,6.0,0.0
4.0,Female,2.0,1981.0,Cross-sectional,Hispanic,NaN,NaN,253.0,216.0,195.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1 to 3 hours a week,3 to 10 hours a week,6.0,4.0
5.0,Male,10.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,243.0,235.0,293.0,...,0.0,NaN,NaN,NaN,NaN,NaN,Less than 1 hour a week,3 to 10 hours a week,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96.0,Male,7.0,1982.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
97.0,Male,6.0,1980.0,Cross-sectional,Hispanic,NaN,NaN,-7.0,-7.0,-7.0,...,0.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,3 to 10 hours a week,6.0,16.0
98.0,Male,1.0,1980.0,Cross-sectional,Non-Black / Non-Hispanic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
99.0,Male,6.0,1982.0,Cross-sectional,Hispanic,NaN,NaN,-7.0,-7.0,-7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
100.0,Female,1.0,1981.0,Cross-sectional,Black,NaN,NaN,176.0,185.0,167.0,...,0.0,NaN,NaN,NaN,NaN,NaN,4 to 6 hours a week,More than 40 hours a week,7.0,43.0